@font-face {
    font-family: 'BoopeeRegular';
    src: url('../fonts/boopee-webfont.eot');
    src: url('../fonts/boopee-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boopee-webfont.woff') format('woff'),
         url('../fonts/boopee-webfont.ttf') format('truetype'),
         url('../fonts/boopee-webfont.svg#BoopeeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { font-size: 125%; }
body { font-family: Tahoma, sans-serif; font-size: 50%; }
#product-highlights h2,
#search h2,
#login h2,
#basket h2,
#basket .links { font-family: 'BoopeeRegular', Textile, cursive; }
#main-menu a { color: #000000; text-transform: lowercase; }
#basket .links { font-size: 1.8em; }
#basket .links a { color: #000000; }
h2 { font-size: 2.5em; font-weight: normal; text-transform: lowercase; }
h1, p { margin: 1em 0; }
#header-wrapper,
#footer-wrapper { background: url("../images/grey_square_dotted_horizonal_line.png") repeat-x scroll 0 0 transparent; float: left; }
#header-wrapper { background-position: center bottom; }
#footer-wrapper { background-position: center top; }
#header { height: 110px; }
#sustrans-logo { margin: 33px 0 0 16px; }
#content-wrapper { background-color: #e6efac; float: left; margin: 3px 0; }
#main-menu ul { background: url("../images/main_menu_background.png") no-repeat scroll 0 0 transparent; float: left; font-size: 1.1em; height: 90px; /*98 - 8*/ margin: 0; padding: 8px 0 0 86px; width: 100%; }
#main-menu li { display: inline; }
#main-menu li a { float: left; padding: 25px 15px 0 15px; }
#main-menu li.contact a { background: url("../images/contact_us_icon.png") no-repeat scroll center top transparent; }
#main-menu li.support-sustrans a { background: url("../images/support_sustrans_icon.png") no-repeat scroll center top transparent; }
#main-menu li.request-catalogue a { background: url("../images/request_catalogue_icon.png") no-repeat scroll center top transparent; }
#main-menu li.newsletter a { background: url("../images/newsletter_icon.png") no-repeat scroll center top transparent; }
#main-menu li.support a { background: url("../images/support_icon.png") no-repeat scroll center top transparent; }

/* Backgrounds */

#main-content { background: url("../images/wide_background_top.png") no-repeat scroll 0 0 transparent; margin-top: 16px; }
#search,
#login,
#basket,
#product-highlights { background: url("../images/narrow_background_top.png") no-repeat scroll 0 0 transparent; }
#main-content .inner { background: url("../images/wide_background_bottom.png") no-repeat scroll left bottom transparent; width: 622px; /*638 - 8 pixels padding left and right*/ }
#search .inner,
#login .inner,
#basket .inner,
#product-highlights .inner { background: url("../images/narrow_background_bottom.png") no-repeat scroll left bottom transparent; width: 186px; /*202 - 8 pixels padding left and right*/ }
.inner { float: left; }
#main-content,
#product-highlights { margin-top: 8px; }
#search,
#login,
#basket { margin-top: 11px; }
#search,
#login { margin-right: 4px; /*8 - 4 pixels of shadow*/ }
#basket { margin-right: -4px; /*0 - 4 pixels of shadow*/ }
#product-highlights { margin-right: 4px; /*8 - 4 pixels of shadow*/  }
#main-content,
#product-highlights,
#search,
#login,
#basket { padding-right: 4px; /*4 pixels of shadow*/}

/* Generic Section Styling */
.inner { padding: 8px 12px 8px 8px; }
img.icon { left: 9px; position: absolute; }

/* Main Content Styling */
#main-content .inner { padding-bottom: 25px; }
#main-content .wrapper { padding: 0 175px 25px 63px; width: 400px; /*638 - 63 pixels left padding - 175 right padding*/ }
#main-content h1 { font-size: 1.5em; font-weight: normal; text-transform: lowercase; }
#shopping-categories { background: url("../images/grey_square_dotted_horizonal_line.png") repeat-x scroll left top transparent; list-style-type: none; float: left; padding: 1px 0 0 0; margin: 0 11px; text-transform: lowercase; }
#shopping-categories li { background: url("../images/grey_square_dotted_vertical_line.png") repeat-y scroll 0 0 transparent; float: left;  padding: 0 0 0 1px; width: 149px; }
#shopping-categories li:first-child { background: none; }
#shopping-categories li h3 { height: 60px; width: 149px; background-repeat: no-repeat; position: absolute; margin: 0; }
#shopping-categories li h3 span { position: absolute; left: -999em; }
#shopping-categories li.walking-and-cycling h3 { background-image: url("../images/people_walking_on_beach.png"); }
#shopping-categories li.kids h3 { background-image: url("../images/three_kids_on_chairs_icon.png"); }
#shopping-categories li.clothing h3 { background-image: url("../images/clothes_hanger_icon.png"); }
#shopping-categories li.environment h3 { background-image: url("../images/green_leaves_environment_icon.png"); }
#shopping-categories li .wrapper { margin: 65px 0 0 0; padding: 0 6px; width: auto; }
#shopping-categories li .details { margin-left: 5px; }

/* Product Highlights Styling */
#product-highlights .wrapper { float: left; margin: 8px 0; padding: 0 0 0 10px; }
#product-highlights #new-products h2 { margin: 11px 0 0 34px; }
#product-highlights #best-selling-products h2 { margin: 15px 0 0 34px; }
#product-highlights ul.products { margin: 0; padding: 0; }
#product-highlights ul.products li { list-style-type: none; margin: 8px 0; }
#product-highlights img.product { float: left; margin-right: 10px; }
#product-highlights ul h3 { margin: 0; }
#product-highlights ul li { clear: both; float: left; width: 100%; }

/* Small Section Styling */
#search .inner,
#login .inner,
#basket .inner { min-height: 180px; }
#search h2,
#login h2,
#basket h2 { margin: 0 0 0 42px; }
form { width: 186px; }
form .input-wrapper { float: left; clear: both; margin: 2px 0; width: 186px; }
label { margin-top: 2px; width: 60px; }
input[type=password],
input[type=text] { width: 120px; }
input, label { float: left; }
.input-wrapper.no-label input { width: 180px; /*186 - 3px border left and right */ }
input[type=submit] { float: right; margin: 2px 0 0 0; }

/* Basket Section Styling */
#basket .wrapper { padding-left: 40px; margin-bottom: 24px; }
#basket .total .value { color: #ca5327; }
#basket .links { margin: 0; position: absolute; bottom: 8px; right: 12px; text-align: right; }

#footer { font-size: 1.2em; }
.products h3 { font-weight: normal; font-size: 1em; }
.products .price { color: #648f3f; }
.products .details,
.products .price { color: #648f3f; display: block; }
a { text-decoration: none; }
a.sustrans-site { font-weight: bold; }
#footer ul { float: left; margin: 5px 0; padding: 0; text-align: right; width: 100%; }
#footer li { border-left: 1px solid #000000; display: inline; margin: 0 0 0 2px; padding: 0 0 0 6px; }
#footer li:first-child { border-left: 0; }