@font-face {
    font-family: 'BoopeeRegular';
    src: url('../fonts/boopee-webfont.eot');
    src: url('../fonts/boopee-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boopee-webfont.woff') format('woff'),
         url('../fonts/boopee-webfont.ttf') format('truetype'),
         url('../fonts/boopee-webfont.svg#BoopeeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { font-size: 125%; }
body { font-family: Tahoma, sans-serif; font-size: 50%; }
#product-highlights h2,
#search h2,
#login h2,
#basket h2,
#basket .links { font-family: 'BoopeeRegular', Textile, cursive; }
#main-menu a { color: #000000; text-transform: lowercase; }
#basket .links { font-size: 1.8em; }
#basket .links a { color: #000000; }
h2 { font-size: 2.5em; font-weight: normal; text-transform: lowercase; }
#header-wrapper,
#footer-wrapper { background: url("../images/grey_square_dotted_line.png") repeat-x scroll 0 0 transparent; float: left; }
#header-wrapper { background-position: center bottom; }
#footer-wrapper { background-position: center top; }
#header { height: 110px; }
#sustrans-logo { margin: 33px 0 0 16px; }
#content-wrapper { background-color: #e6efac; float: left; margin: 3px 0; }
#main-menu ul { background: url("../images/main_menu_background.png"); float: left; font-size: 1.1em; height: 90px; /*98 - 8*/ margin: 0; padding: 8px 0 0 86px; width: 552px; /*638 - 86*/ }
#main-menu li { display: inline; }
#main-menu li a { float: left; padding: 25px 15px 0 15px; }
#main-menu li.contact a { background: url("../images/contact_us_icon.png") no-repeat scroll center top transparent; }
#main-menu li.support-sustrans a { background: url("../images/support_sustrans_icon.png") no-repeat scroll center top transparent; }
#main-menu li.request-catalogue a { background: url("../images/request_catalogue_icon.png") no-repeat scroll center top transparent; }
#main-menu li.newsletter a { background: url("../images/newsletter_icon.png") no-repeat scroll center top transparent; }
#main-menu li.support a { background: url("../images/support_icon.png") no-repeat scroll center top transparent; }
#main-content h1 { font-size: 1.5em; }

/* Backgrounds */

#main-content { background: url("../images/wide_background_top.png") no-repeat scroll 0 0 transparent; margin-top: 16px; }
#search,
#login,
#basket,
#product-highlights { background: url("../images/narrow_background_top.png") no-repeat scroll 0 0 transparent; }
#main-content .inner { background: url("../images/wide_background_bottom.png") no-repeat scroll left bottom transparent; width: 622px; /*638 - 8 pixels padding left and right*/ }
#search .inner,
#login .inner,
#basket .inner,
#product-highlights .inner { background: url("../images/narrow_background_bottom.png") no-repeat scroll left bottom transparent; width: 186px; /*202 - 8 pixels padding left and right*/ }
.inner { float: left; }
#main-content,
#product-highlights { margin-top: 8px; }
#search,
#login,
#basket { margin-top: 16px; }
#search,
#login { margin-right: 4px; /*8 - 4 pixels of shadow*/ }
#basket { margin-right: -4px; /*0 - 4 pixels of shadow*/ }
#product-highlights { margin-right: 4px; /*8 - 4 pixels of shadow*/  }
#main-content,
#product-highlights,
#search,
#login,
#basket { padding-right: 4px; /*4 pixels of shadow*/}

/* Generic Section Styling */
.inner { padding: 8px; }

#shopping-categories { text-transform: lowercase; }
#footer { font-size: 1.2em; }
.products h3 { font-weight: normal; font-size: 1em; }
.products .price { color: #648f3f; }
.products .details,
.products .price { color: #648f3f; display: block; }
a { text-decoration: none; }
a.sustrans-site { font-weight: bold; }
#footer ul { float: left; margin: 5px 0; padding: 0; text-align: right; width: 100%; }
#footer li { border-left: 1px solid #000000; display: inline; margin: 0 0 0 2px; padding: 0 0 0 6px; }
#footer li:first-child { border-left: 0; }